<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UngBoardMain</title>
</head>
<body>
<header>
    <nav>
        <div>
            <div th:if="${session.userInfo != null}" class="user-info">
                <span th:text="'사용자:' + ${session.userInfo.getUsername()}"></span>
                <span th:text="'권한:' + ${session.userInfo.getRoleName()}"></span>
                <span><a href="/sign-out">로그아웃</a></span>
            </div>
        </div>
    </nav>
</header>
<div style="display: inline-block;" th:if="${session.userInfo == null}">
    <a href="/sign-in"><button>로그인</button></a>
    <a href="/sign-up"><button>회원가입</button></a>
    </div>
    <a href="/board"><button>게시판</button></a>

</div>
</body>
<script>
    var message = "[[${message}]]";
    if(message !== null && message !== "") {
        alert(message);
    }
</script>
</html>